.hello{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: '';
  background-color: brown;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.container h3{
text-align: center;
}

table{
  display: block;
  border-collapse: collapse;
  margin-left: 20%;
}

table tr td{
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

table button{
  border: none;
}

table thead th{
  border: 3px solid black;
  text-align: center;
}

table input{
  border: none;
  
}

table button.btn1{
  background-color: greenyellow;
}

table button.btn2{
  background-color: rgb(232, 34, 34);
}

table img{
  height: 100px;
}

@media screen and (max-width: 600px){
  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
  }
}