.futa-grid{
  display: grid;
  height: 260px;
  width: 100%;
  background-color: black;
  color: aliceblue;
}

.futa-flex{
  display: flex;
  justify-content: space-around;
}

.Futa-items{
  text-align: center;
}

.Futa-items h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Futa-items p{
  font-size: 14px;
  font-weight: 600;
}

.Futa-items a{
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 14px;
  font-weight:600;
}

/* .................................................................... */


@media screen and (max-width: 600px){

  .futa-grid{
    display: grid;
    height: 500px;
    width: 100%;
    background-color: black;
    color: aliceblue;
  }
  
  .futa-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .Futa-items{
    text-align: center;
  }
  
  .Futa-items p{
    font-size: 12px;
    font-weight: 600;
  }
  
  .Futa-items a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    font-weight: 600;
  }

  .Futa-items h1{
color: brown;
width: 100%;
  }

}