.Home-nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color: rgb(206, 206, 212);
  border-bottom: 1px solid rgb(16, 3, 3);
}

.Home-nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Home-nav a:hover{
  background-color: rgb(92, 206, 92);
  border-radius: 3px;
  color: aliceblue;
  padding: 0px 5px;
}

.HomeTopImg{
  position: relative;
  width: 100%;
}

.ParkingTopImg{
  position: relative;
  width: 100%;
}

.ParkingTopImg img{
  width: 100%;
  height: 450px;
}

.ParkingForm{
  width: 50%;
}

.ParkingForm input[type='text']{
  width: 45%;
}

.HomeTopImg img{
  width: 100%;
  height: 450px;
}

.Home-typeriter{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  color: aliceblue;
  top: 40%;
  left: 0%;
  font-style: italic;
}

/* .Home-typeriter input{
  background-color: '';
  width: 25%;
  height: 50px;
  font-size: 18px;
  opacity: 0.8;
} */

/* .Home-typeriter input[type='submit']{
  background-color: green;
  color: wheat;
  width: 15%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
} */

/* ................................................. */

.Parking{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: transparent;
  color: aliceblue;
  top: 40%;
  left: 0%;
  font-style: italic;
}

.Parking input[type='text']{
  background-color: '';
  width: 50%;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  opacity: 0.8;
}

.Parking input[type='phone']{
  background-color: '';
  width: 50%;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  opacity: 0.8;
}

.Parking button{
  /* background-color: '';
  width: 25%;
  height: 40px;
  border-radius: 4px; */
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}

.Parking input[type='submit']{
  background-color: green;
  color: wheat;
  width: 15%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}



.Home-gridContainer{
display: grid;
width: 100%;
/* background-color: aqua; */
/* height: 350px; */
margin-top: 5%;
}

.Home-flex{
  display: flex;
  width: 100%;
  gap: 5%;
}

.Home-leftSide{
  display: block;
  /* background-color: ; */
  width: 45%;
  margin-left: 5%;
}

.Home-leftSide img{
  width: 92%;
  height: 400px;
  border-radius: 7px;
}

.Home-rightSide{
  display: block;
  /* background-color: rgb(121, 35, 7); */
  width: 40%;
  margin-right: 5%;
}

.Home-rightSide h1{
  text-align: center;
  width: 80%;
  font-weight: bold;
}

.Home-rightSide p{
  color: gray;
  font-size: 18px;
  line-height: 30px;
}

.hr{
  background-color: rgb(8, 70, 5);
  /* color: red; */
  width: 15%;
  height: 15px;
}

@media screen and (max-width: 600px){
  .Home-nav{
    display: none;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    background-color: rgb(206, 206, 212);
    border-bottom: 1px solid rgb(16, 3, 3);
  }

  .HomeTopImg img{
    width: 100%;
    height: 250px;
  }

  .Home-typeriter{
    position: absolute;
    width: 80%;
    background-color: transparent;
    color: aliceblue;
    top: 15%;
    left: 10%;
    font-style: italic;
  }

  .Home-flex{
    display: inline-block;
    width: 100%;
    /* gap: 5%; */
  }

  .Home-leftSide{
    display: block;
    /* background-color: ; */
    width: 100%;
    margin-left: 0%;
  }
  
  .Home-leftSide img{
    width: 100%;
    height: 400px;
    border-radius: 7px;
  }

  .Home-rightSide{
    display: block;
    /* background-color: rgb(121, 35, 7); */
    width: 100%;
    margin-right: 0%;
  }
  
  .Home-rightSide h1{
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  
  .Home-rightSide p{
    color: gray;
    font-size: 18px;
    line-height: 30px;
    margin-right: 2%;
    margin-left: 2%;
  }

  .Parking{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: transparent;
    color: aliceblue;
    top: 25%;
    left: 0%;
    font-style: italic;
  }
  
  .Parking input[type='text']{
    background-color: '';
    width: 80%;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .Parking input[type='phone']{
    background-color: '';
    width: 80%;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .Parking button{
    /* background-color: '';
    width: 25%;
    height: 40px;
    border-radius: 4px; */
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
  }
  
  .Parking input[type='submit']{
    background-color: green;
    color: wheat;
    width: 15%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  
}

