
.Layouts{
  display: Grid;
  width: 100%;
  overflow: hidden;
}

.Layouts-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Layout-left{
  width: 55%;
}

.Layout-right{
  width: 45%;
}

.Layout-left img{
  height: 630px;
  width: 100%;
}

.Layout-right h2{
  text-align: center;
  margin-top: 50px;
}

.Layout-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 23%;
  margin-top: 50px;
}

.Layout-right a{
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(4, 60, 4);
}

.Layout-right a:hover{
background-color: black;  
color: rgb(235, 239, 235);
padding: 2px 5px;
border-radius: 3px;
}

.Layout-regBtn a{
color: red;
}

.Layout-down{
  height: 300px;
  background-color: black;
}

.Copyright{
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .Layouts-flex{
    display: inline-block;
    width: 100%;
    justify-content: space-between;
  }
  .Layout-left{
    width: 100%;
  }
  
  .Layout-right{
    width: 100%;
  }

  .Layout-left img{
    height: 300px;
    width: 100%;
  }

  .Layout-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
  }

  .Home-nav{
    display: none;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    background-color: rgb(206, 206, 212);
    border-bottom: 1px solid rgb(16, 3, 3);
  }

}