.Navbars{
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: black;
  color: aliceblue;
}

.Nav-left{
  width: 50%;
  display: flex;
}

.Nav-left{
  color: aliceblue;
  text-decoration: none;   
  font-size: 32px;
  font-weight: bold;
}

.Nav-left img{
  width: 50px;
  margin-top: 10px;
}

.Nav-right{
  margin-right: 5%;
}

.dropdowns{
  display: none;
}

.Create{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: gray; */
  color: white;
  padding: 10px;
  margin-top: 2%;
}

.Create-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 101, 101);
  width: 50%;
  height: 600px;
  border-radius: 5px;
}

.Create h1{
text-align: center;
width: 100%;
background-color: rgb(25, 4, 45);
border-radius: 3px;
}
.Create form{
  /* background-color: gray; */
  width: 50%;
}




@media screen and (max-width: 600px){

  .Navbars{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100px; */
    background-color: black;
    color: aliceblue;
  }


  .dropdowns {
    position: relative;
    display: block;
  }
  
  .dropdown span{
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropdown span:hover{
    background-color: rgb(71, 225, 65);
    color: whitesmoke;
    border-radius: 3px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: whitesmoke;
    min-width: 15px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* .List-dropitems {
    display: none;
    position: absolute;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: whitesmoke;
    min-width: 165px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0.9;
  } */
  
  .List-Drop1 {
    position: relative;
    display: block;
    color: white;
    }
  
  .List-Drop1 button{
    background-color: rgb(71, 225, 65);
    color: whitesmoke;
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
  }

  .List-dropitems {
    display: block;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 65%;
    background-color: whitesmoke;
    min-width: 165px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1px 1px;
    top: 10px;
    z-index: 1;
    opacity: 0.9;
  }
  
  .Create{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: gray; */
    color: white;
    padding: 10px;
  }

  .Create-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 101, 101);
    width: 100%;
    height: 600px;
    border-radius: 5px;
  }

.Create h1{
  text-align: center;
  width: 100%;
  background-color: blueviolet;
  border-radius: 3px;
}

.Create form{
  /* background-color: gray; */
  width: 90%;
}

}