
.displayUsers1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  }
  
  .displayUsers{
  text-align: center;
  /* border: 1px solid black; */
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: hwb(180 36% 63% / 0.765);
  border-radius: 5px;
  }
  
  .displayUsers p{
  font-size: 16px;
  font-weight: bold;
  }
  
  .displayUsers input{
    height: 45px;
  }
  
  .displayUsers img{
  height: 250px;
  width: 50%;
  margin-top: 2%; 
  }
  
  
  
  .container1 table{
  
  }
  
  .container h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* .btn1{
    background-color: rgb(18, 222, 18);
    color: whitesmoke;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .btn2{
    background-color: red;
    color: whitesmoke;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
  } */
  
  .displayUsers button{
  cursor: pointer;
  }
  
  .botin{
    padding: 5px;
  }
  
  
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  @media screen and (max-width: 600px){
    .container h3{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: green;
      color: white;
      margin-top: 3%;
      margin-left: 0%;
      border: 2px solid black;
      border-radius: 3px;
      padding: 8px 16px;
      line-height: 15px;
      }
  
      .container{
        overflow-x: scroll;
      }
  
      .displayUsers1{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        }
        
        .displayUsers{
        text-align: center;
        /* border: 1px solid black; */
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: hwb(180 36% 63% / 0.765);
        }
  
        .botin{
          padding: 5px;
        }
  
  
  }