/* .wash{
  width: 100%;
  height: 100%;
} */

video{
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* video{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

/* .content{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */

.content{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  color: white;
  margin-top: 20px;
  background-color: transparent;
}